<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Category List</h4>
                    <div class="add-product">
                        <a href="/admin/add/category">Add category</a>
                    </div>
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Category Title</th>
                            <th>Offer</th>
                            <th>Status</th>
                            <th>Setting</th>
                        </tr>
                        <% products.forEach(function(item) { %>
                            <tr>
                                <td><img src="/image/products/<%=item.image%>" alt=""></td>
                                <td>
                                    <%= item.category%>
                                </td>
                                <td>
                                    <%= item.offer%>
                                </td>
                                <td>
                                    <% if(item.status===false){ %>
                                        <a onclick="updateStatus('<%=item._id%>','true')"  id="statusB<%=item._id%>" 
                                            class="ds-setting cursor-pointer">Disabled</a>
                                        <%}else{%>
                                            <a  onclick="updateStatus('<%=item._id%>','false')" id="statusB<%=item._id%>" 
                                                class="pd-setting cursor-pointer">Active</a>
                                            <%}%>
                                </td>
                                <td>
                                    <!-- <a href="/admin/category/delete?id=<%=item._id%>&image=<%=item.image%>"><button
                                            data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                                class="fa fa-trash-o" aria-hidden="true"></i></button></a> -->

                                    <a href="/admin/update/category/<%= item._id%>"><button data-toggle="tooltip" title="Edit"
                                            class="pd-setting-ed"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></button></a>

                                </td>

                            </tr>
                            <% }); %>
                    </table>
                    <!-- <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
     function updateStatus(id,status) {
      
        fetch(`/admin/unlist?_id=${id}&status=${status}`).then(res=>{
            if (res.ok) {
                toaster(1,"catogory status has been changed successfully")
                let text=document.getElementById(`statusB${id}`)
                if (text.innerText=== "Active") {

                    text.classList.remove("pd-setting")
                    text.classList.add("ds-setting")
                    text.innerText ="Disabled"

                    
                }else{
                    text.classList.add("pd-setting")
                    text.classList.remove("ds-setting")
                    text.innerText ="Active"
                }
            }else{
                toaster(2,"Product status has sum problems")

            }
        })

    }
</script>